<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/akihoH/plantyy-updated"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/akiho-hamamoto"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" id="footer-font">
    &copy;PLANTYY
  </div>
</div>
